<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AfficherProduit</servlet-name>
        <servlet-class>com.controller.AfficherProduit</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>acceuil.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerPanier</servlet-name>
        <servlet-class>com.controller.SupprimerPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterPanier</servlet-name>
        <servlet-class>com.controller.AjouterPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherProduitPanier</servlet-name>
        <servlet-class>com.controller.AfficherProduitPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetMyPassword</servlet-name>
        <servlet-class>com.manager.ForgetMyPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.controller.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduit</servlet-name>
        <servlet-class>com.controller.AddProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterProduitAdmin</servlet-name>
        <servlet-class>com.controller.AjouterProduitAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payer_caisse</servlet-name>
        <servlet-class>com.controller.Payer_caisse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViderTousPanier</servlet-name>
        <servlet-class>com.controller.ViderTousPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierSupprimerAdmin</servlet-name>
        <servlet-class>com.controller.ModifierSupprimerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminModifier</servlet-name>
        <servlet-class>com.controller.AdminModifier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficherProduit</servlet-name>
        <url-pattern>/afficherProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerPanier</servlet-name>
        <url-pattern>/supprimerPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterPanier</servlet-name>
        <url-pattern>/ajouterPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherProduitPanier</servlet-name>
        <url-pattern>/afficherProduitPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetMyPassword</servlet-name>
        <url-pattern>/forgetMyPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduit</servlet-name>
        <url-pattern>/addProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterProduitAdmin</servlet-name>
        <url-pattern>/ajouterProduitAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payer_caisse</servlet-name>
        <url-pattern>/payer_caisse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViderTousPanier</servlet-name>
        <url-pattern>/viderTousPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierSupprimerAdmin</servlet-name>
        <url-pattern>/modifierSupprimerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminModifier</servlet-name>
        <url-pattern>/adminModifier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
